
@import "tailwindcss";
body {
    font-family: 'Satoshi', sans-serif;
}

.container {
    max-width: 1500px ;
    height: auto ;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
}